.Schedule {
	padding: var(--sectionPadding);
	background-color: var(--brand-yellow);
	text-align: center;
	overflow: hidden;

	.Wrapper {
		position: relative;
		@media screen and (min-width: 37.5rem) {
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-start;
		}
	}

	&-title {
		color: var(--white);
		font-family: var(--strong-font);
		font-size: var(--heading-01);
		font-weight: 700;
		text-transform: capitalize;
	}
	&-ul {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		gap: 1.5rem;
		margin-top: 1.5625rem;
		z-index: 1;
	}
}
