@import '@styles//mixins/hover';

.Cart {
	position: fixed;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	gap: 1rem;
	width: min(90vw, 50rem);
	max-height: min(70vh, 37.5rem);
	margin: auto;
	padding: 1.875rem 1.25rem;
	background-color: var(--white);
	opacity: 0;
	transform: translateY(3.25rem);
	transition: 400ms opacity, 400ms transform;
	border-radius: 4px;

	@media screen and (min-width: 37.5rem) {
		gap: 1.5rem;
	}

	&-title {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.9375rem;
		font: 700 var(--heading-01) var(--strong-font);
	}

	&-ul {
		display: flex;
		flex-flow: column nowrap;
		gap: 1.875rem;
		padding: 0 1rem;
		overflow-y: auto;
	}

	&-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		border-bottom: 3px solid var(--black);
		padding-bottom: 0.9375rem;
	}

	&-count {
		display: grid;
		place-items: center;
		width: min(10vw, 2.5rem);
		height: min(10vw, 2.5rem);
		margin-right: 1rem;
		background-color: var(--brand-red);
		color: var(--white);
		font: 700 var(--paragraph) var(--main-font);
		border-radius: 4px;
	}

	&-itemText {
		display: flex;
		justify-content: space-between;
		align-items: center;
		order: 3;
		width: 100%;
		margin-top: 0.5rem;
		font: 500 var(--paragraph) var(--main-font);
		text-transform: capitalize;

		@media screen and (min-width: 37.5rem) {
			flex: 1;
			order: unset;
			margin-top: 0;
		}

		span {
			// margin-left: 10px;
			font: 400 var(--sub) var(--main-font);
		}
	}

	&-emptyMessage {
		font: 600 var(--paragraph) var(--main-font);
		text-align: center;

		span {
			color: var(--brand-red);
		}
	}

	&-deleteItem {
		display: grid;
		place-items: center;
		width: min(10vw, 2.5rem);
		height: min(10vw, 2.5rem);
		margin-left: 0.9375rem;
		background-color: #eb0000a4;
		color: var(--white);
		font: 700 var(--heading-02) var(--main-font);
		border-radius: 4px;
		line-height: 1px;
		cursor: pointer;
		transition: 300ms background-color;

		&:hover {
			background-color: var(--brand-red);
		}
	}

	&-priceTotal {
		font: 600 var(--paragraph) var(--main-font);
		text-align: center;

		span {
			padding: 0.25rem 0.5rem;
			background-color: var(--brand-red);
			color: var(--white);
			border-radius: 4px;
		}
	}

	&-buttons {
		display: flex;
		flex-flow: column-reverse nowrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		@media screen and (min-width: 37.5rem) {
			flex-flow: row nowrap;
			gap: 1.5rem;
		}
	}

	&-cta {
		padding: 0.625rem 1.25rem;
		background-color: var(--brand-yellow);
		font: 600 var(--paragraph) var(--main-font);
		border-radius: 4px;
		cursor: pointer;
		@include hover;
	}

	&-goback {
		font: 400 var(--sub) var(--main-font);
		text-decoration: underline;
		text-underline-offset: 2px;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
	}

	&--fade-in {
		opacity: 1;
		transform: translateY(0);
	}
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 300ms opacity;
	opacity: 0;

	&--fade-in {
		opacity: 1;
	}
}
