.LoadingContent {
	span {
		display: inline-block;
		width: 5px;
		height: 5px;
		margin: 0 2px;
		background-color: var(--black);
		border-radius: 50%;
		animation-name: loading;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-delay: var(--delay);
		animation-iteration-count: infinite;
	}
}

@keyframes loading {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-0.25rem);
	}
	50% {
		transform: translateY(0);
	}
}
