{
	"root": true,
	"env": {
		"browser": true,
		"amd": true,
		"es6": true
	},
	"extends": ["eslint:recommended", "next", "next/core-web-vitals", "plugin:prettier/recommended"],
	"rules": {
		"prettier/prettier": 1
	},
	"globals": {
		"JSX": true
	}
}
