.Location {
	display: flex;
	flex-flow: column nowrap;
	gap: 1.25rem;

	&-name {
		font: 700 var(--heading-02) var(--strong-font);
		color: var(--brand-yellow);
	}
	&-infoContainer {
		display: flex;
		flex-flow: column nowrap;
		gap: 0.75rem;
		width: 100%;
	}
	&-contactInfo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1.5rem;
		font-size: var(--paragraph);

		svg {
			color: var(--brand-red);
		}

		p {
			flex: 1;
		}
	}

	&-map {
		aspect-ratio: 16 / 9;
		border: 2px solid var(--white);
		border-radius: 0.25rem;
	}
}
