.Hero {
	position: relative;

	&-content {
		position: relative;
		z-index: 2;
	}

	&-backgroundImage {
		min-height: 93vh;

		&--desktop {
			max-height: 100vh;
			aspect-ratio: 16 / 9;
		}
	}

	&-brand {
		position: absolute;
		top: min(30vw, 15%);
		left: 0;
		right: 0;
		display: flex;
		flex-flow: column nowrap;
		max-width: 60rem;
		align-items: center;
		gap: 2em;
		margin: auto;
		z-index: 0;
	}

	&-imagotype {
		width: 75%;
	}

	&-slogan {
		font-size: var(--paragraph);
		font-weight: 700;
		color: var(--brand-red);

		@media screen and (min-width: 37.5rem) {
			font-size: var(--heading-02);
		}
	}
}
