@import "/src/styles/main.scss";

.LinkButton {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 1rem 2rem;
	background-color: var(--black);
	color: var(--white);
	font-size: var(--paragraph);
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0.25rem;
	white-space: nowrap;
	@include hover;

	&-icon {
		width: 1.5rem;
		@media screen and (600px <= width <= 64rem) {
			width: auto;
		}
	}
}
