.WhoAreWe {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	gap: 1em;
	padding: var(--sectionPadding);

	&-title {
		font-family: var(--strong-font);
		font-size: var(--heading-01);
		font-weight: 700;
		color: var(--white);
	}

	&-pitch {
	}

	&-text {
		position: relative;
		margin: 0.75em 0;
		font-size: var(--paragraph);
		font-weight: 400;
		z-index: 1;
	}

	&-decorationBall {
		position: absolute;
		color: var(--white);
		width: 0.85rem;
		height: 0.85rem;

		&:nth-of-type(1) {
			bottom: 50vw;
			right: 10vw;
		}

		&:nth-of-type(2) {
			width: 0.55rem;
			height: 0.55rem;
			bottom: 5.5vw;
			left: 4vw;
		}
	}
}
