.CustomerPost {
	max-width: 30rem;
	background-color: var(--white);
	border-radius: 1.25rem;

	&-userInfo {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
	}
	&-profilePic {
		width: 2rem;
		aspect-ratio: 1 / 1;
		background-color: lightgray;
		border-radius: 50%;
		overflow: hidden;
	}

	&-profilePicSrc {
		width: 100%;
		height: 100%;
		object-position: right;

		&--loading {
			visibility: hidden;
		}
	}

	&-username {
		font: 700 var(--paragraph) var(--main-font);
	}
	&-image {
		width: 100%;
		aspect-ratio: 1 / 1;
		visibility: visible;

		&--loading {
			visibility: hidden;
		}
	}
	&-postInfo {
		padding: 1rem;
	}
	&-likes {
		font: 700 var(--paragraph) var(--main-font);
	}
	&-caption {
		margin: 0.5rem 0;
		font: 400 var(--paragraph) var(--main-font);

		strong {
			font-weight: 700;
		}
	}
	&-timestamp {
		font: 300 var(--sub) var(--main-font);
		text-transform: uppercase;
	}
}
