.DropdownMenu {
	position: fixed;
	top: 0;
	right: 0;
	width: min(100%, 30rem);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	padding: 1.25em 1rem;
	background-color: #121212;
	color: var(--white);
	transform: translateY(-100%);
	transition: 400ms transform ease-in-out;
	z-index: 2;

	&--open {
		transform: translateY(0);
	}

	&-exitButton {
		width: 1.5625rem;
		aspect-ratio: 1 / 1;
		align-self: flex-end;
	}

	&-li {
		margin: 1.5625rem 0;
		font-size: 1.25em;
		text-align: center;
		text-transform: uppercase;

		&.active {
			color: var(--brand-yellow);
		}
	}

	&-socialMedia {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.5rem;
		margin-bottom: 1.25rem;
	}

	&-icon {
		width: 2rem;
		aspect-ratio: 1 / 1;
	}
}
