.MealList {
	padding: 0.9375rem 0;
	border-radius: 4px;
	text-align: end;

	&-title {
		margin-bottom: 0.875rem;
		font: 700 var(--heading-01) var(--strong-font);
		text-transform: uppercase;
	}

	&-ul {
		display: flex;
		flex-flow: column nowrap;
		gap: 1.5625rem;

		&--big {
			gap: 4.6875rem;
		}
	}

	&--yellow {
		background-color: var(--brand-yellow);
		color: var(--black);
	}

	&--red {
		background-color: var(--brand-red);
		color: var(--white);
	}

	&--left {
		text-align: start;
	}
}

.MealItem {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.9375rem;
	border-radius: 4px;

	&-title {
		font: 700 var(--heading-02) var(--strong-font);
		text-transform: uppercase;
	}

	&-text {
		font: 500 var(--paragraph) var(--main-font);
		text-align: end;
	}

	&-heavyInfo {
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		font: 600 var(--paragraph) var(--main-font);
	}

	&-price {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 4.375rem;
		max-width: 4.6875rem;
		padding: 0.3125rem 0.625rem;
		background-color: var(--brand-red);
		border-radius: 4px;
	}

	&-button {
		height: 2.0625rem;
		padding: 4px;
		aspect-ratio: 1 / 1;
		border: 2px solid var(--black);
		background-color: var(--brand-yellow);
		color: var(--black);
		font: 700 var(--heading-02) var(--main-font);
		border-radius: 4px;
		cursor: pointer;
		transition: 300ms color, 300ms background-color;
		&:hover {
			background-color: var(--brand-red);
			color: var(--white);
		}
	}

	&--yellow {
		.MealItem-price {
			background-color: var(--black);
			color: var(--white);
		}

		.MealItem-button {
			border-color: var(--black);
			background-color: var(--brand-red);
			color: var(--white);
			&:hover {
				background-color: var(--black);
				color: var(--white);
			}
		}
	}

	&--red {
		.MealItem-price {
			background-color: var(--black);
			color: var(--white);
		}

		.MealItem-button {
			border-color: var(--black);
			background-color: var(--white);
			color: var(--black);
			&:hover {
				background-color: var(--black);
				color: var(--white);
			}
		}
	}

	&--left {
		flex-flow: row-reverse nowrap;

		.MealItem-boxes {
			flex-flow: row-reverse nowrap;
		}
	}
}
