.Section {
	position: relative;
	padding: var(--sectionPadding);
	overflow: hidden;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.yellow {
	background-color: var(--brand-yellow);
}
.black {
	background-color: var(--black);
	color: var(--white);
}
.transparent {
	background-color: transparent;
}
