@import "@styles/utilities/mixins/hover";

.PopularMealItem {
	width: 100%;
	background-color: var(--white);
	border-radius: 0.25rem;
	overflow: hidden;

	@media screen and (min-width: 37.5rem) {
		display: flex;
	}

	&-picture {
		&--mobile {
			@media screen and (min-width: 37.5rem) {
				display: none;
			}
		}

		&--desktop {
			display: none;
			width: 80%;
			max-width: 22.375rem;
			@media screen and (min-width: 37.5rem) {
				display: block;
			}
		}
	}

	&-image {
		&--desktop {
			height: 100%;
		}

		&--mobile {
			aspect-ratio: 16 / 9;
			border-radius: 2px;
		}
	}

	&-itemInfo {
		display: flex;
		flex-flow: column nowrap;
		gap: 1.25rem;
		flex-grow: 1;
		padding: 1.25rem;
	}

	&-promotion {
		padding-bottom: 0.25rem;
		font-size: var(--paragraph);
		font-weight: 700;
		color: var(--brand-red);
		transform: rotate(358deg);
	}

	&-importantInfo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font: 700 var(--heading-02) var(--strong-font);
	}
	&-title {
	}
	&-price {
		color: var(--brand-red);
	}
	&-description {
		font: 400 var(--sub) var(--main-font);
		color: var(--gray-02);
	}
	&-cta {
		padding: 0.625rem;
		background-color: var(--brand-yellow);
		font: 600 1.25rem var(--main-font);
		text-align: center;
		text-transform: uppercase;
		border-radius: 0.25rem;

		@include hover;
	}
}
