.Header {
	position: fixed;
	top: 0;
	padding: 1em 0;
	width: 100%;
	background-color: var(--white);
	box-shadow: 0 4px 8px rgba(26, 26, 26, 0.25);
	z-index: 5;

	.Wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-logo {
		width: 9em;
	}

	&-menu {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		width: 1.75em;
		height: 1.15em;
		cursor: pointer;

		& div {
			height: 2.5px;
			background-color: black;
			border-radius: 1em;
		}
	}
}
