.WhoAreWe {
	position: relative;
	padding: var(--sectionPadding);
	background-color: var(--brand-yellow);
	overflow: hidden;

	.Wrapper {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		gap: 1em;
		z-index: 1;
	}

	&-title {
		font-family: var(--strong-font);
		font-size: var(--heading-01);
		font-weight: 700;
		text-transform: capitalize;
		color: var(--white);
	}

	&-pitch {
		max-width: 65ch;
	}

	&-text {
		position: relative;
		margin: 0.75em 0;
		font-size: var(--paragraph);
		font-weight: 400;
		z-index: 1;
	}
}
